<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="../static/styles/mainpage.css">
</head>
<body>
    <div id ="form-box">
    <form action="/convertpage">
        <input type="text" name="currency1" class="form-entry">
        <input type="text" name="currency2" class="form-entry">
        <input type="number" name="amount-input" class="form-entry">
        <input type="submit" id="submit-button">
    </form>
    </div>
</body>
</html>
